[submodule "RuiEngine/vendor/spdlog"]
	path = RuiEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RuiEngine/vendor/GLFW"]
	path = RuiEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
