[submodule "RuiEngine/vendor/spdlog"]
	path = RuiEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RuiEngine/vendor/GLFW"]
	path = RuiEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "RuiEngine/vendor/imgui"]
	path = RuiEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "RuiEngine/vendor/glm"]
	path = RuiEngine/vendor/glm
	url = https://github.com/g-truc/glm
